#addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DTPink);
    color:var(--DTWhiteDarker);
    height:2.5rem;
    width:8.313rem;
    font-size: 1.1rem;
    padding-left: 0.938rem;
    text-align: center;
    padding-bottom: 0.313rem;
}

.bi-plus-circle-fill
{
    color:var(--DTWhiteDarker);
    font-size: 1.2rem;
    margin-left: 0.313rem;
}

#addbutton:hover{
    cursor: pointer;
}
