#darkcreatepageoverlay {
   background-color: var(--DTBlack);
   color:var(--DTWhiteDarker);
}

#darkcreatepageoverlay input, #darkcreatepageoverlay select {
   background-color: var(--DTDarkGray);
   color:var(--DTWhiteDarker);
}

.createpageoverlay {
   width:56.25rem;
   height:20rem;
   background-color:var(--LTWhiteDarker) ;
   position: relative;
}

.createpageoverlay h3 {
   position:absolute;
   left:50%;
   top:15%;
   transform:translate(-50%, -50%);
}

.createpageoverlay form {
   margin-top:4.375rem;
}

#inputs-row-page {
   display: flex;
   font-size: 1.125rem;
 }

.input-data{
   width: 100%;
   position: relative;
   margin:0.938rem;
}

.input-data input, select {
   width: 95%;
   border-radius: 0.2rem;
   height:2.7rem;
   border:none;
   background-color: var(--LTWhiteLighter);
 }

 #modifymediabuttons {
   position: absolute;
   bottom: 0;
   right: 0; 
   margin:2.2rem;
   padding-right:0.2rem;
 }

 #modifymediabuttons button {
   background-color: var(--DTPink);
   border:none;
   margin:0.5rem;
   color:var(--DTWhiteDarker);
   border-radius:4rem;
   height:3.125rem;
   width:6.688rem;
 }