.pageCardButtons {
    margin: auto ;
}

.pagePreviewPlaceholder {
    width: 100%;
    aspect-ratio: 25 / 20;
    background-color: rgba(152, 146, 146, 0.516);

}

#PageCard {
    width: 14.2rem;
    height: 17rem;
    text-align: center;
  }
  
  #PageCard p {
    font-size: 1.2rem; /* Ajustez la taille de la police selon vos préférences */
  }