.sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 17rem;
    height: 85.5vh;
    background-color: var(--LTWhiteDarker);
    color: var(--LTBlack);
    transition: width 0.3s ease-in-out;
}

.sidebar-left.light-mode {
    background-color: var(--LTWhiteDarker);
    border-bottom: 0.063rem solid var(--LTGray);
}

.sidebar-left.dark-mode {
    background-color: var(--DTBlack);
    border-bottom: 0.063rem solid var(--DTLightGray);
}

.pages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding-left: 0;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.15s;
}

.pages-bubble.dark-mode {
    background: #222222;
    color: #F4F4F4;
}

.pages-bubble.dark-mode > * {
    color: #F4F4F4; 
}

.pages-bubble {
    width: 14.5rem;
    height: 2.9375rem;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pages-list-title {
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: var(--LTPink);
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.15s;
}

.button-container {
    margin-left: 16.2rem;
    transition: margin-left 0.3s ease-in-out;
}

.toggle-btn {
    height: 5rem;
    background-color: var(--LTWhiteDarker);
    border: none;
    border-radius: 5px;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.toggle-btn.dark-mode{
    background-color: var(--DTBlack);
    color: white;
}

.sidebar-left.classClose {
    width: 0;
    height: 85.5vh;
}

.content.classClose {
    opacity: 0;
}

.button-container.classClose {
    margin-left: 0;
}

.sidebar-left.classClose .pages-list,
.sidebar-left.classClose .pages-list-title {
    opacity: 0;
}

.nav-link {
    color: #000; 
    text-decoration: none;
}
