#dashboardprojectdark {
  background-color: var(--DTDarkGray);
}

#projectstatusbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--DTPink);
  color:var(--DTWhiteDarker);
  height:3.125rem;
  align-items: center;
  padding:0 3.125rem;
  font-size: 1.125rem;
  margin:1.5rem auto;
  width:68.75rem;
}

#custom {
  padding-bottom: 1rem;

}

.deleteButtonContainer {
  position: fixed;
  right: 6rem; /* Ajustez selon vos besoins */
  bottom: 1.5rem; /* Ajustez selon vos besoins */
}

deleteButtonContainer {
  position: fixed;
  right: 5vw; /* Ajustez selon vos besoins */
  bottom: 2vh; /* Ajustez selon vos besoins */
}