/* GENERIC */

.ContainerCustom{
    margin: auto auto 3.125rem auto;
    padding:1.563rem;
    width: fit-content;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}
.ContainerCustom >*{
vertical-align: top;
}

.ContainerCustom[displayStyle=dashboard]{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* LIGHT MODE */

.ContainerCustom[isdarkmode=false]{
    background-color: var(--LTWhiteDarker) ;
}

/* DARK MODE */

.ContainerCustom[isdarkmode=true] > * {
    color : white;
}

.ContainerCustom[isdarkmode=true]{
    background-color: var(--DTBlack) ;
}
