/* GENERIC */

.HeaderButton{
  width: 6.25rem;
  height: 5.625rem;
  border-radius: 5%;
  align-content: center;
  border: none;
  cursor: pointer;
  padding: 0.625rem 0.625rem ;
}

.HeaderButton > * {
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}

.HeaderButton > i {
  font-size: 2.188rem;
  line-height: 2.188rem;
  text-align: center;
}

.HeaderButton > label {
  margin-top: 0.30rem;
  font-size: 1rem;
}


/* DARK MODE */

.HeaderButton[isdarkmode=true] {
  background-color: var(--DTDarkGray);
}

.HeaderButton[isdarkmode=true] > * {
  color: var(--DTWhiteDarker)
}

.HeaderButton[isdarkmode=true]:hover{
  background-color: var(--LTPink);
}



/* LIGHT MODE */

.HeaderButton[isdarkmode=false] {
  background-color: var(--LTWhiteLighter);
}

.HeaderButton[isdarkmode=false] > i {
  color: var(--LTPink)
}


.HeaderButton[isdarkmode=false]:hover{
  background-color: var(--LTPink);
}

.HeaderButton[isdarkmode=false]:hover > * {
  color : var(--LTWhiteLighter);
}


.HeaderButton[isdarkmode=false] > label {
color : var(--LTBlack)
}
