.avatar {
    background-color: var(--LTWhiteLighter);
    border: solid 0.121rem var(--LTPink);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.avatar:hover {
    cursor: pointer;
}

.avatar span {
    color: var(--LTPink);
    display: table;
    margin: 0 auto;
    font-size: 2.5rem;
}

#dark #overlay {
    background-color: var(--DTDarkGray);
}

#dark {
    background-color: rgb(201, 201, 201);
    color: white;
}
.overlay {
    padding: 1.25rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
    background-color: var(--LTWhiteDarker);
    position: absolute;
    top: 9.375rem;
    right: 0.625rem;
    width: 18.5rem;
    height: 12.875rem;
    z-index: 1;
}

.overlay.dark {
    background-color: var(--DTDarkGray);
}


.subdiv {
    border-radius: 0.5rem;
    background-color: var(--LTWhiteLighter);
    width: 15.375rem;
    height: 3.125rem;
    margin: 0.625rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

#dark .subdiv {
    background-color: var(--DTBlack);
    color: white;
}

#themebutton {
    float: right;
}

.subdiv p {
    margin: 0;
    display: inline-block;
    width: fit-content;
}